<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head">

</head>
<body>
	<header th:replace="fragments/navBarFragment :: header"></header>
	<div class="container">
		<h1>Add new Consumable</h1>
		<form action="#" th:action="@{/consumables/add}" th:object="${consumable}" th:modelAttribute="allMachines" method="post">
			<input type="text" th:field="*{id}" th:readonly="true" hidden="true" />	
			<div class="form-group row ">
				<label for="consumableType" class="col-sm-2 col-form-label">Type</label>
				<div class="col-sm-4">
				 	<select th:multiple="false" class="form-control" id="consumableType" name="consumableType" th:field="*{consumableType}">
						<option th:each="type : ${consumableTypes}" th:value="${{type}}" th:text="${type.name()}">Type</option>
					</select>
				 	<small id="capHelp" class="form-control-feedback" th:each="error : ${#fields.errors('consumableType')}" th:text="${error}">Error Message</small>
				</div>
			</div>
			<div class="form-group row ">
				<label for="nameInput" class="col-sm-2 col-form-label">Name:</label>
				<div class="form-group  col-sm-4">
			 		<input type="text" th:field="*{name}" id="nameInput" class="form-control" />
					<p th:each="err : ${#fields.errors('name')}" th:text="${err}" />
				</div>
			</div>
			<div class="form-group col-sm-6">
				<label for="machines" class="col-sm-4 col-form-label">For machines</label> 
				<select th:multiple="true" class="form-control" id="machines" name="machines" th:field="${consumable.machines}">
<option th:each="x : ${allMachines}" th:value="${{x}}" th:text="${x.getModel()}">Option 1</option>
				</select> 
				<small id="capHelp" class="form-control-feedback" th:each="error : ${#fields.errors('machines')}" th:text="${error}">Error Message</small>
			</div>
			<p>
				<input type="submit" value="Submit" class="btn btn-primary mb-2" />
				<input type="reset" value="Reset" class="btn btn-primary mb-2" />
			</p>
		</form>
	</div>
	<footer th:replace="fragments/footerFragment :: footer">></footer>
</body>
</html>