<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head">

</head>
<body>
	<header th:replace="fragments/navBarFragment :: header"></header>
	<div class="container">
		<h1>Add new piston compressor:</h1>
		<form action="#" th:action="@{/machines/add/PISTON_COMPRESSOR}" th:object="${machine}" method="post">
			<input type="text" th:field="*{id}" th:readonly="true" hidden="true" />
			<input type="text" th:field="*{machineType}" th:readonly="true" hidden="true" /> <input type="text" th:field="*{machineIdentifier}" th:readonly="true" hidden="true" />
			<div class="form-group row ">
				<label for="modelInput" class="col-sm-2 col-form-label">Model:</label>
				<div class="form-group  col-sm-4">
			 		<input type="text" th:field="*{model}" id="modelInput" class="form-control" />
					<p th:each="err : ${#fields.errors('model')}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row ">
				<label for="powerInput" class="col-sm-2 col-form-label">Power:</label> 
				<div class="form-group col-sm-4">
					<input type="text" th:field="*{power}" id="powerInput" class="form-control" />
					<p th:each="err : ${#fields.errors('power')}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row ">
				<label for="powerInput" class="col-sm-2 col-form-label">Energy consumption:</label>
				<div class="form-group col-sm-4">
				 	<input type="text" th:field="*{powerConsumption}" id="consumptionInput" class="form-control" />
					<p th:each="err : ${#fields.errors('powerConsumption')}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row ">
				<label for="powerInput" class="col-sm-2 col-form-label">Dimensions:</label>
				<div class="form-group col-sm-4">
					 <input type="text" th:field="*{dimension}" id="consumptionInput" class="form-control" />
					 <p th:each="err : ${#fields.errors('dimension')}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row ">
				<label for="powerInput" class="col-sm-2 col-form-label">Weigth:</label>
				<div class="form-group col-sm-4">
					 <input type="text"	th:field="*{weigth}" id="weigthInput" class="form-control" />
					<p th:each="err : ${#fields.errors('weigth')}" th:text="${err}" /></p>
				</div>
			</div>

			<div class="form-group row ">
				<label for="powerInput" class="col-sm-2 col-form-label">Number of pistons:</label>
				<div class="form-group col-sm-4">
					<input type="text" th:field="*{numberOfPistons}" id="vnumberOfPistons" class="form-control" />
					<p th:each="err : ${#fields.errors('numberOfPistons')}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row ">
				<label for="powerInput" class="col-sm-2 col-form-label">Number of stages:</label>
				<div class="form-group col-sm-4">
					<input type="text" th:field="*{numberOfstage}" id="numberOfstage" class="form-control" />
					<p th:each="err : ${#fields.errors('numberOfstage')}" th:text="${err}" /></p>
				</div>
			</div>
			<p>
				<input type="submit" value="Submit" class="btn btn-primary mb-2" />
				<input type="reset" value="Reset" class="btn btn-primary mb-2" />
			</p>
		</form>
	</div>
	<footer th:replace="fragments/footerFragment :: footer">></footer>
</body>
</html>