<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head">

</head>
<body>
	<header th:replace="fragments/navBarFragment :: header"></header>
	<div class="container">
		<h1>Add new Service order: </h1>
		<form action="#" th:action="@{/serviceOrder/add}" th:object="${serviceOrder}" method="post">
			<input type="text" th:field="*{id}" th:readonly="true" hidden="true" />	
			<input type="text" th:field="*{user}" th:readonly="true" hidden="true" />	
			<input type="text" th:field="*{forMachine}" th:readonly="true" hidden="true" />	
			<input type="text" th:field="*{warranty}" th:readonly="true" hidden="true" />
			<input type="text" th:field="*{serviceDate}" th:readonly="true" hidden="true" />	
			
			<div class="form-group row ">
				<label for="consumables" class="col-sm-2 col-form-label">Consumables</label>
				<div class="col-sm-4">
				 	<select th:multiple="true" class="form-control" id="consumables" name="consumables" th:field="*{consumables}">
						<option th:each="consumable : ${allConsumables}" th:value="${consumable.getAccessoryType().name()}" th:text="${consumable.getAccessoryType().name()}">Model</option>
					</select>
				 	<small id="capHelp" class="form-control-feedback" th:each="error : ${#fields.errors('consumables')}" th:text="${error}">Error Message</small>
				</div>
			</div>
		
			<p>
				<input type="submit" value="Submit" class="btn btn-primary mb-2" />
			</p>
		</form>
	</div>
	<footer th:replace="fragments/footerFragment :: footer">></footer>
</body>
</html>