<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}" lang="en">
<head th:replace="fragments/headFragment :: head">
</head>

<body>
	<header th:replace="fragments/navBarFragment :: header"></header>

	<div class="container main-content">
		<h3>Register</h3>
		<form th:action="@{/register}" th:object="${user}" method="post">
		
			<div class="form-group row">
				<label for="username" class="col-sm-2 col-form-label">Username</label>
				<div class="col-sm-6">
					<input type="text" id="username" name="username"
						th:field="${user.username}" class="form-control"
						placeholder="Username" autofocus="autofocus"> 
					<p th:each="err : ${#fields.errors('username')}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row">
				<label for="password" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-6">
					<input type="password" id="password" name="password"
						th:field="${user.password} " class="form-control"
						placeholder="Password" autofocus="autofocus"> 
						<p th:each="err : ${#fields.globalErrors()}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row">
				<label for="confirm_password" class="col-sm-2 col-form-label">Password</label>
				<div class="col-sm-6">
					<input type="password" id="confirm_password"
						name="confirm_password" th:field="${user.confirmPassword}"
						class="form-control" placeholder="Confirm password"
						autofocus="autofocus"> 
						<p th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}" /></p>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</div>
		</form>
	</div>

	<footer th:replace="fragments/footerFragment :: footer"></footer>
</body>
</html>