<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head">

</head>
<body>
	<header th:replace="fragments/navBarFragment :: header"></header>
	<div class="container">
		<h1>My service orders:</h1>
		
		<div class="row justify-content-around" >
		 <th:block th:each="serviceOrder : ${allServiceOrders}">
			<div class="col-lg-4 col-md-6 col-sm-12 breadcrumb justify-content-center"  style="margin: 5px 5px 5px 5px;">
			<img src="/img/logo.png" class=" float-left" alt="Responsive image" >
				<ul class="list-group"> 
					<li class="list-group-item" th:text="'Model: ' + ${serviceOrder.getWarranty().getMachine().getModel()}"></li>
					<li class="list-group-item" th:text="'Serial number: ' + ${serviceOrder.getWarranty().getSerialNumber()}"></li>
					<li class="list-group-item" th:text="'Service date ' + ${#dates.format(serviceOrder.serviceDate, 'dd-MM-yyyy')}"></li> 
				</ul>
				<th:block th:each="consumable : ${serviceOrder.getConsumables()}">
				<p class="list-group-item" th:text="${consumable.getAccessoryType().name()} + ' - ' + ${consumable.name}"></p>
			</div>
		</th:block>	
	   </div>
	</div>
	<footer th:replace="fragments/footerFragment :: footer">></footer>
</body>
</html>