<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: head">

</head>
<body>
	<header th:replace="fragments/navBarFragment :: header"></header>
	<div class="container">
		<h1>All Users:</h1>
		
		<table class="table">
            <thead>
            <tr>
                
                <th>Username:</th>
                <th>Add</th> 
                <th>Remove</th>  
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}" th:object="${user}">
                <td th:text="*{id}" th:readonly="true" hidden="true" >id</td>
                <td th:text="*{username}">name</td>
                <td>
                    <a class="btn btn-secondary" th:href="|/manage/edit/*{username}|">Add manager role</a>
                </td>
                <td>
                    <a class="btn btn-secondary" th:href="|/manage/delete/*{username}|">Remove manager role</a>
                </td>
            </tr>
            </tbody>
        </table>
	</div>
	<footer th:replace="fragments/footerFragment :: footer">></footer>
</body>
</html>