<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>MACHINE APP</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-ligth"style="background-color: #e3f2fd;">
		<img src="/img/logo.png" width="30" height="30" alt=""> 
		<a class="navbar-brand" href="#">MACHINE APP</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<ul class="navbar-nav">
      			<li class="nav-item">
       				<a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      			</li>
      			<li class="nav-item">
       				 <div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Products </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						
							<a class="dropdown-item" th:href="@{/machines/showAll/SCREW_COMPRESSOR}">Screw Compressor</a>
							<a class="dropdown-item" th:href="@{/machines/showAll/PISTON_COMPRESSOR}">Piston compressor</a>
							<a class="dropdown-item" th:href="@{/machines/showAll/REFRIGERATION_DRYER}">RF Dryer</a> 
							<a class="dropdown-item" th:href="@{/machines/showAll/ADSORPTION_DRYER}">AD Dryer</a>
						</div>
					</div>
       				 
      			</li>
      			<li class="nav-item">
        			<div class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_MANAGER')">
						<a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> Add </a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" th:href="@{/machines/add}">Machine</a> 
							<a class="dropdown-item" th:href="@{/consumables/add}">Consumable</a>
						</div>
					</div>
      			</li> 
      			<li class="nav-item">
      				<div class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
       					<a class="nav-item nav-link" th:href="@{/register/machine}">Register machine <span class="sr-only">(current)</span></a>
       				</div>
      			</li>
      			<li class="nav-item">
      				<div class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
       					<a class="nav-item nav-link" th:href="@{/serviceOrder/add}">Book service<span class="sr-only">(current)</span></a>
       				</div>
      			</li>
      			<li class="nav-item">
      				<div class="nav-item dropdown" sec:authorize="hasRole('ROLE_USER')">
       					<a class="nav-item nav-link" th:href="@{/serviceOrder/my}">My service orders<span class="sr-only">(current)</span></a>
       				</div>
      			</li>
      			<li class="nav-item">
      				<div class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
       					<a class="nav-item nav-link" th:href="@{/serviceOrder/all}">All service orders<span class="sr-only">(current)</span></a>
       				</div>
      			</li>
      			<li class="nav-item">
      				<div class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
       					<a class="nav-item nav-link" th:href="@{/manage/users}">Manage users <span class="sr-only">(current)</span></a>
       				</div>
      			</li>
      			<li class="nav-item">
      				<div class="nav-item dropdown" sec:authorize="hasRole('ROLE_ADMIN')">
       					<a class="nav-item nav-link" th:href="@{/warranties/soldMachines}">Compare machines <span class="sr-only">(current)</span></a>
       				</div>
      			</li>
      			<li class="nav-item">
       				<a class="nav-item nav-link" th:href="@{/backUpMachine}" sec:authorize="hasRole('ROLE_ADMIN')">BackUp Machines <span class="sr-only">(current)</span></a>
      			</li>
    		</ul>
			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-item nav-link" th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
				</li>
				<li class="nav-item"> 
					<a class="nav-item nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Log out</a>
				</li>
				<li class="nav-item">
					<a class="nav-item nav-link" href="#" th:href="@{/register}" sec:authorize="isAnonymous()">Register</a>
				</li>
			</ul>
		</div>
	</nav>
	</header>
</body>
</html>